
        <div class="im-cc-wrapper-title" >

            {{! ***** //Title ***** }}

            {{#if card.txtBlock.name.show}}
            <div class="im-cc-products-name" >
                {{#if product.linkHtmlTitle}}{{{product.linkHtmlTitle}}}{{else}}{{{product.productName}}}{{/if}}
            </div>
            {{/if}}
            
            {{! ***** //Category ***** }}

            {{#if card.txtBlock.details.showCategory}}
            <div class="im-cc-products-category" >{{product.categoryName}}</div>
            {{/if}}

            {{! ***** // Rating Stars ***** }}

            {{#if card.txtBlock.details.showRating}}
            <div class="a11y screen-reader-only-even-focused" {{#if product.productRatesShow}}{{else}}aria-hidden="true"{{/if}}>
                {{l10n.comments_and_ratings_average_rate}}<span class="im-cc-products-rating-average">{{product.productRatesAverage}}</span>/5
            </div>
            <div class="a11y screen-reader-only-even-focused" {{#if product.productRatesShow}}{{else}}aria-hidden="true"{{/if}}>
                {{l10n.comments_and_ratings_number_of_rates}}<span class="im-cc-products-rating-count">{{product.productRatesCount}}</span>
            </div>
            {{#if misc.productRatesShowAverage}}<a href="#im-product-container-comments-and-ratings" class="im-cc-products-rating-jump" aria-label="{{l10n.comments_and_ratings_go_to_comments}}" {{#if product.productRatesShow}}{{else}}aria-hidden="true"{{/if}}>{{/if}}
            <div class="im-cc-products-rating" style="display: {{#if product.productRatesShow}}block{{else}}none{{/if}};" aria-hidden="true">
                {{#if misc.productRatesShowAverage}}
                <span class="im-cc-products-rating-average">{{product.productRatesAverage}}</span>
                {{/if}}
                <span class="im-cc-products-rating-star-ext">
                    <span class="im-cc-products-rating-star-int" style="width: {{product.productRatesBarWidth}}%;"></span>
                </span>
                <span class="im-cc-products-rating-count">{{#if misc.productRatesShowAverage}}({{/if}}{{product.productRatesCount}}{{#if misc.productRatesShowAverage}}){{/if}}</span>
            </div>
            {{#if misc.productRatesShowAverage}}</a>{{/if}}
            {{/if}}

        </div>